/* .button__banner--one{
    position: absolute;
    z-index: 2;
    width: 300px;
    right: 30px;
    top: 150px;
} */
.buttonLink--button__banner--one{
    position: absolute;
    right: 120px;
    bottom: 180px;
    width: 200px;
    border-radius: 0;
    background-color: red;
    border: none;
}
@media (max-width: 320px) {
  .buttonLink--button__banner--one{
    position: absolute;
    right: 74px !important;
    bottom: 29px;
    width: 50%;
    border-radius: 0;
    background-color: rgb(253, 7, 60);
    border: none;
    font-size: small;
    font-weight: 700;   
 }
}
@media (max-width: 375px) {
  .buttonLink--button__banner--one{
    position: absolute;
    right: 88px !important;
    bottom: 38px;
    width: 50%;
    border-radius: 0;
    background-color: rgb(253, 7, 60);
    border: none;
    font-size: small;
    font-weight: 700; 
 }
}
@media (max-width: 425px) {
  .buttonLink--button__banner--one{
    position: absolute;
    right: 104px;
    bottom: 38px;
    width: 50%;
    border-radius: 0;
    background-color: rgb(253, 7, 60);
    border: none;
    font-size: small;
    font-weight: 700; 
 }
}
.buttonLink--button__banner--four{
    position: absolute;
    left: 150px;
    bottom: 160px;
    width: 200px;
    border-radius: 0;
    background-color:white;    
    color:black;
    font-weight: bold;
    border: none;
}
@media (max-width: 320px) {
  .buttonLink--button__banner--four{
    position: absolute;
    width: 50%;
    left: 76px !important;
    bottom: 38px;
    border-radius: 0;
    background-color:rgb(253, 7, 60);    
    color:white;
    font-weight: 700;
    border: none;
    min-height: 2rem !important;
    font-size: small;
 }
}
@media (max-width: 375px) {
  .buttonLink--button__banner--four{
    position: absolute;
    width: 50%;
    left: 92px;
    bottom: 38px;
    border-radius: 0;
    background-color:rgb(253, 7, 60);    
    color:white;
    font-weight: 700;
    border: none;
    min-height: 2rem !important;
    font-size: small;
 }
}
@media (max-width: 425px) {
  .buttonLink--button__banner--four{
    position: absolute;
    width: 50%;
    left: 92px;
    bottom: 38px;
    border-radius: 0;
    background-color:rgb(253, 7, 60);    
    color:white;
    font-weight: 700;
    border: none;
    min-height: 2rem !important;
    font-size: small;
 }
}
.buttonLink--button__banner--five{
    position: absolute;
    left: 150px;
    bottom: 160px;
    width: 200px;
    border-radius: 0;
    background-color:rgb(253, 7, 60);
    color:black;
    font-weight: bold;
    border: none;
}
.link--link__relojes--card{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link--link__intimate--card{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link--link__fragancias--card{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link--link__custom--components{
    text-decoration: none;
    color: black;
    font-weight: 700;
   
}
.link--link__custom--components:hover{
  color: rgb(253, 7, 60);
  transition: all 0.3s ease-in;
  box-shadow: 3px 3px 10px;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .link--button__banner--one{
    right: 27px;
    bottom: 86px;
    background-color: rgb(253, 7, 60);
  }
  .link--button__banner--four{
    left: 67px;
    bottom: 74px;
  }
  .link--button__banner--five{
    left: 32px;
    bottom: 69px;
    color: white;
    background-color: rgb(253, 7, 60);
  }
}