/* .flexRowContent--home__banner--one :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    
    position: relative;
    
} */

.flexCol--banner__diesel_one{
    position: relative;
}
.flexCol--banner__diesel_four{
    position: relative;
}
.flexCol--banner__diesel_five{
    position: relative;
}
.flexRow--container__cards--home{
    margin-right: 7rem;
    margin-left: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.flexRowContent--container__cards--home{
    gap: 1rem;
}
.flexCol--container__ayuda{
    margin-top: 1rem;
}
.flexCol--container__condiciones{
    margin-top: 1rem;
}
