/* .flexCol--container__quick--view{
  align-items: center;
}
.flexRowContent--container__qick--info{
  align-items: center;
}
.flexRow--container__qick--info{
  padding: 3rem;
    display: flex;
    align-items: center;
} */