.flexCol--container__filter--department{
    width: 30%;
    height: 50%; 
    
}
.flexCol--container__content--gallery{
    width: 70%;
}
.flexRowContent--filter__department :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    justify-content: left;
    margin-left: 1rem;
}
.flexRowContent--container__department :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    flex-basis: 30%;
}
.flexRowContent--container__department :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{

    flex-basis: 70%;
}

.flexRow--product--image{
    height: 200px;
}
.flexRowContent--product-name{
    height: 85px;
}
.flexRowContent--title__department{
    color: rgb(253, 7, 60);
}
@media(max-width: 425px){
    .flexRowContent--title__department :global(.vtex-search-result-3-x-galleryTitle--layout){
        font-size: 2rem;
    }
}
/* .flexRowContent--filter__department :global(.vtex-search-result-3-x-filterPopupButton){
    padding: 0 !important;
} */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .flexRowContent--container__department{
        flex-direction: column
    }
    
    .flexColChild--container__filter--department{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flexRowContent--container__department :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        width: 100% !important;
    }
}

