.flexRowContent--container__payments--methods{
    background: black;
    text-align: center;
    padding: 1rem;
    border-radius: 10px
   
    
}
.flexRow--container__payments--methods{
    /* border-radius: 20px;
    overflow: auto; */
}
.flexColChild--link__localizador--tienda{
    margin-top: 2rem;
}
.flexColChild--link__ship--to{
    margin-top: 2rem;
}
.flexColChild--container__sections--footer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem
    
}
.flexRow--container__info--section{
    border-top: 1px solid #CFC9C8;
    border-bottom: 1px solid #CFC9C8;
}
.flexRow--container__info--section-mobile{
    border-top: 1px solid #CFC9C8;
    border-bottom: 1px solid #CFC9C8;
}
.flexRowContent--container__info--section{
    margin-left: 4rem;
}
.flexRowContent--payment__methods--all{
     flex-wrap: wrap;
    justify-content: space-evenly; 
}
.flexColChild--container__payment--methods{
    height: 60px !important;
    /* width: 40px; */
}
.flexRowContent--payment__methods--all :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    min-width: 60px
}
.flexColChild--container__payment--method{
    width: 100%;
}
.flexRow--container__payments--methods-mobile{
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
}
.flexRowContent--container__payments--methods-mobile{
    flex-direction: column;
    align-items: center;
}
.flexRowContent--cointainer__info-mobile{
    flex-direction: column;
}
.flexColChild--container__sections--footer-mobile{
    padding: 1rem;
}
.flexRowContent--container__state--disclosure-mobile{
    display: flex;
}
.flexRowContent--container__state--disclosure{
    display: flex;
}
.flexRowContent--container__info--section-mobile{
    margin-bottom: 1rem;
}
.flexColChild--state__indicator--icon-mobile{
    /* display: flex;
    text-align: right;
    align-items: flex-end;
    flex-direction: column;
    flex-direction: row-reverse; */
}

.flexRowContent--images__bancos--pago-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 20% !important;
}
.flexRowContent--images__bancos--pago-mobile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-evenly;
}



