.paragraph--Text__payment--method{
    font-size: 11px;
    font-weight: bold;
    color: white;
}
.paragraph--metodos__pago{

    color: white;
}
.wrapper--Text__payment--method{
    width: 100%;


    color: white;

}