.logoImage--logo__top--middle {
    background:white;
}
.notificationBarInner--notification__message{
    justify-content: left;
    font-size: 11px;
    background-color: black;
    min-height: auto;
}
.notificationContent--notification__message{
    padding: 0.6rem 29px;
    font-size: 8px;
}
.logoContainer--mobile{
   
    padding: 0px;
    
}

